{% include base_path %}

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
  &nbsp;&nbsp;&nbsp;&nbsp;
  <strong><a href="mailto:{{site.author.email}}"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i><meta itemprop="email" content="{site.author.email}">Email</a></strong>&nbsp;
  <strong><a href="https://scholar.google.com/{{site.author.googlescholar}}" itemprop="sameAs"><i class="ai ai-fw ai-google-scholar-square" aria-hidden="true"></i>Google Scholar</a></strong>&nbsp;
  <strong><a href="http://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></strong>
</div>